In [49]:
import httpx
import yfinance as yf
import pandas as pd

In [53]:
BRAPI_TOKEN = "tgC9uuuZnREfP6KzHW4aSJ"

stocks = httpx.get(
    url="https://brapi.dev/api/quote/list",
    params={
        "type": "stock",
        "token": BRAPI_TOKEN 
    }
)

data = stocks.json()

In [64]:
df = pd.json_normalize(data["stocks"])
df = df[~df["stock"].str.endswith("F")]
df.sort_values(by="volume",ascending=False)

,stock,name,close,change,volume,market_cap,logo,sector,type
0,BBDC4,BRADESCO PN,11.59,-1.193521,60708700,1.180063e+11,https://s3-symbol-logo.tradingview.com/bradesc...,Finance,stock
1,HAPV3,HAPVIDA,2.24,-5.485232,58181500,1.687693e+10,https://s3-symbol-logo.tradingview.com/hapvida...,Health Services,stock
2,VALE3,VALE,54.49,3.455478,54274500,2.327215e+11,https://s3-symbol-logo.tradingview.com/vale--b...,Non-Energy Minerals,stock
3,ABEV3,AMBEV S/A,11.09,0.090253,51428100,1.747047e+11,https://s3-symbol-logo.tradingview.com/ambev--...,Consumer Non-Durables,stock
4,COGN3,COGNA,1.25,1.626016,41017700,2.271723e+09,https://s3-symbol-logo.tradingview.com/cogna--...,Commercial Services,stock
...,...,...,...,...,...,...,...,...,...
631,HAGA3,HAGA S/A,2.35,5.855856,100,1.892100e+07,https://s3-symbol-logo.tradingview.com/haga-s-...,Consumer Durables,stock
632,PATI3,PANATLANTICAON,25.00,-0.079936,100,6.054862e+08,https://s3-symbol-logo.tradingview.com/panatla...,Producer Manufacturing,stock
633,CRPG5,CRISTAL PNA,19.38,0.000000,100,5.875336e+08,https://s3-symbol-logo.tradingview.com/cristal...,Process Industries,stock
634,CRPG6,CRISTAL PNB,20.48,3.853955,100,5.875336e+08,https://s3-symbol-logo.tradingview.com/cristal...,Process Industries,stock
677,BMKS3,BIC MONARK,336.51,-0.145401,15,1.530279e+08,https://s3-symbol-logo.tradingview.com/bic-mon...,Consumer Durables,stock

In [65]:
df = yf.download(tickers=[f"{t}.SA" for t in df["stock"].to_list()], start="2024-01-01", interval="1d")

[*********************100%***********************]  339 of 339 completed

1 Failed download:
['UCAS3.SA']: ChunkedEncodingError(ProtocolError('Connection broken: IncompleteRead(1 bytes read, 1 more expected)', IncompleteRead(1 bytes read, 1 more expected)))

In [67]:
df = (
    df.stack(0, future_stack=True)
    .reset_index()
    .rename(columns={"^BVSP": "IBOV", "^GSPC": "SP500"})
    .melt(id_vars=["Date", "Price"], var_name="Ticker", value_name="Value")
    .pivot(index=["Date", "Ticker"], columns=["Price"], values=["Value"])
    .stack(0, future_stack=True)
    .reset_index()
    .drop(columns=["level_2"])
)

df["Return"] = df.groupby("Ticker")["Close"].pct_change()

df = df.rename(columns={c: c.lower() for c in df.columns})

/var/folders/96/l4t96txx5vq2bdvf15x884hr0000gn/T/ipykernel_11155/3734416744.py:12: FutureWarning: The default fill_method='ffill' in SeriesGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df["Return"] = df.groupby("Ticker")["Close"].pct_change()

In [68]:
df

Price,date,ticker,adj close,close,high,low,open,volume,return
0,2024-01-02,AALR3.SA,NaN,8.500000,10.360000,8.500000,10.200000,430400.0,NaN
1,2024-01-02,ABCB4.SA,NaN,21.154104,22.171129,21.070895,22.171129,1944700.0,NaN
2,2024-01-02,ABEV3.SA,NaN,13.447387,13.467003,13.329685,13.457195,11690200.0,NaN
3,2024-01-02,AERI3.SA,NaN,17.400000,18.200001,17.200001,18.200001,359765.0,NaN
4,2024-01-02,AGRO3.SA,NaN,24.409506,24.953189,24.306393,24.915693,492200.0,NaN
...,...,...,...,...,...,...,...,...,...
89152,2025-01-17,WHRL4.SA,NaN,4.150000,4.200000,4.150000,4.200000,1900.0,-0.002404
89153,2025-01-17,WIZC3.SA,NaN,5.530000,5.540000,5.370000,5.380000,453100.0,0.027881
89154,2025-01-17,WLMM4.SA,NaN,29.139999,29.139999,28.809999,28.830000,1100.0,0.011103
89155,2025-01-17,YDUQ3.SA,NaN,8.580000,8.900000,8.510000,8.870000,12546200.0,-0.057143
89156,2025-01-17,ZAMP3.SA,NaN,2.600000,2.690000,2.560000,2.670000,426300.0,-0.018868

In [95]:
from pymongo import MongoClient
from pendulum import from_format
from datetime import datetime

client = MongoClient("mongodb+srv://pedrotramos:yAo44JzRX1QjSBld@airflow-demo.8ocjd.mongodb.net/?retryWrites=true&w=majority&appName=airflow-demo")

db = client.qam

indexes_collection = db.indexes

indexes_data = indexes_collection.find(
    {
        "date": {
            "$gte": from_format("2025-01-12", "YYYY-MM-DD"),
            "$lte": from_format("2025-01-19", "YYYY-MM-DD")
        },
        "ticker": "IBOV"
    }
)

df = pd.json_normalize(indexes_data)
df

,_id,ticker,date,close,high,low,open,volume
0,678c88fb9899ac67fa823d40,IBOV,2025-01-13,119007.0,119729.0,118743.0,118856.0,8161500.0
1,678c88fb9899ac67fa823d42,IBOV,2025-01-14,119299.0,119451.0,118223.0,119007.0,9349300.0
2,678c88fb9899ac67fa823d44,IBOV,2025-01-15,122650.0,122988.0,119303.0,119309.0,11928800.0
3,678c88fb9899ac67fa823d46,IBOV,2025-01-16,121234.0,122660.0,120796.0,122649.0,11312100.0
4,678c88fb9899ac67fa823d48,IBOV,2025-01-17,122350.0,122674.0,121074.0,121258.0,10242300.0

In [98]:
df = yf.download(
    tickers=["PETR4.SA"],
    start="2024-01-01",
    interval="1d",
)

df = (
    df.stack(0, future_stack=True)
    .reset_index()
    .rename(columns={"^BVSP": "IBOV", "^GSPC": "SP500"})
    .melt(id_vars=["Date", "Price"], var_name="Ticker", value_name="Value")
    .pivot(index=["Date", "Ticker"], columns=["Price"], values=["Value"])
    .stack(0, future_stack=True)
    .reset_index()
    .drop(columns=["level_2"])
)

[*********************100%***********************]  1 of 1 completed

In [99]:
df

Price,Date,Ticker,Close,High,Low,Open,Volume
0,2024-01-02,PETR4.SA,30.855400,30.945239,30.545052,30.577718,24043800.0
1,2024-01-03,PETR4.SA,31.819120,31.949794,30.765560,30.871734,52300200.0
2,2024-01-04,PETR4.SA,31.549608,32.137639,31.451600,31.949796,45344900.0
3,2024-01-05,PETR4.SA,31.623108,31.966126,31.369926,31.745613,35783700.0
4,2024-01-08,PETR4.SA,31.386265,31.386265,30.716561,31.345430,35158100.0
...,...,...,...,...,...,...,...
258,2025-01-13,PETR4.SA,37.070000,37.529999,36.970001,37.299999,22897100.0
259,2025-01-14,PETR4.SA,36.820000,37.130001,36.580002,37.110001,29173100.0
260,2025-01-15,PETR4.SA,37.290001,37.320000,36.799999,36.930000,32512700.0
261,2025-01-16,PETR4.SA,37.049999,37.240002,36.770000,37.209999,26733200.0
262,2025-01-17,PETR4.SA,37.200001,37.400002,36.849998,37.009998,39941100.0